<h1>Wifi Networks:</h1> 
  
<dl class="accordion">

    <% @wifis.each do |wifi| %>
    
    <dt><a href=""><%= wifi.name %></a></dt>
    <dd>
        <%= link_to(wifi.name, wifi) %>
        <%= wifi.password %>
        <%= wifi.free_or_paid %>
        <%= wifi.share_scope %>
        <%= wifi.business_name %>
        <%= wifi.address_line_1 %>
        <%= wifi.address_line_2 %>
        <%= wifi.city %>
        <%= wifi.postcode %>
        <%= wifi.country %>
        <%= wifi.phone %>
        <%= link_to 'Show Reviews', wifi_reviews_path(wifi.id) %>
        <% end %>
    </dd>
</dl>

<%= paginate @wifis %>

<%= search_form_for @q do |f| %>

   <p>
    <%= f.label :city_cont %>
    <%= f.text_field :city_cont %>
  </p>
  <p>
    <%= f.submit %>
  </p>

<% end %>

<%= link_to 'New Wifi', new_wifi_path %>




