<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @wifi.name %>
</p>

<p>
  <b>Password:</b>
  <%= @wifi.password %>
</p>

<p>
  <b>Free or paid:</b>
  <%= @wifi.free_or_paid %>
</p>

<p>
  <b>Share scope:</b>
  <%= @wifi.share_scope %>
</p>

<p>
  <b>Business name:</b>
  <%= @wifi.business_name %>
</p>

<p>
  <b>Address line 1:</b>
  <%= @wifi.address_line_1 %>
</p>

<p>
  <b>Address line 2:</b>
  <%= @wifi.address_line_2 %>
</p>

<p>
  <b>City:</b>
  <%= @wifi.city %>
</p>

<p>
  <b>Postcode:</b>
  <%= @wifi.postcode %>
</p>

<p>
  <b>Country:</b>
  <%= @wifi.country %>
</p>

<p>
  <b>Phone:</b>
  <%= @wifi.phone %>
</p>


<% @reviews.each do |review| %>
  <%= review.comment %><br>
  <% end %>
      


<%= link_to 'Back', wifis_path %>
<%= link_to 'Edit', edit_wifi_path(@wifi) %>
<%= link_to 'Destroy', @wifi, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Create a new review', new_wifi_review_path(@wifi) %>
<%= link_to 'Add to favourites', add_favourite_wifi_path(@wifi)%>
   
