<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @group.name %> <br>

     <% @wifis.each do |wifi| %>
          <%=wifi.name %> 
           <%= link_to 'Add this wifi to my favourites', add_favourite_wifi_path(wifi)%> </br>
        <%end%>
      
</p>


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'back to your profile', user_path(current_user) %>
