<div id="user-form-left">
    <%= form_for(@user) do |f| %>
    <div class="field">
    <%= f.label :first %>
    <%= f.text_field :first %>
  </div>
  <div class="field">
    <%= f.label :last %>
    <%= f.text_field :last %>
  </div>
  <div class="field">
    <%= f.label :dob %>
    <%= f.text_field :dob %>

    <!-- <input type="text" id="datepicker"> -->

  </div>
  <div class="field">
    <%= f.label :sex %>

    <%= f.select :sex, options_for_select([:Male, :Female]) %>
  </div>
  <div class="field">
  
    
    <%=f.label :user_type_id %>
    <%=f.collection_select :user_type_id, UserType.all, :id, :name %>

    
  </div>
  <div class="field">
    <%= f.label :occupation %>
    <%= f.text_field :occupation %>
  </div>
  <div class="field">
    <%= f.label :position %>
    <%= f.text_field :position %>
  </div>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :role %>
    <%= f.select :role, options_for_select([:default, :other]) %>
  </div>
  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <% Group.all.each do |group| %>
    <%=group.name %>
    <%= check_box_tag 'user[group_ids][]', group.id, @user.groups.include?(group), id: "user_groups_ids_#{group.id}" %>
    <% end %>
    <%#= paginate @reviews %>
  <div class="action">
    <%= f.submit %>
    <% end %>
  </div>
</div>


 




<div id="user-form-right">
<div class="profile-div user-side"><%= link_to "ADD A NEW NETWORK", new_wifi_path %></div>

<div class="profile-div user-side">CREATE A GROUP</div>
<%= form_for Group.new do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <br>
      <%= f.label :group_type %>
      <%= f.select :group_type, options_for_select([:private, :public]) %><br>
      <%= f.submit "create" %>
    <% end %>
</div>
