<div id="user-form-left">
    <%= form_for(@user) do |f| %>
    <div class="field">
    <%= f.label :first %>
    <%= f.text_field :first %>
  </div>
  <div class="field">
    <%= f.label :last %>
    <%= f.text_field :last %>
  </div>
  <div class="field">
    <%= f.label :dob %>
    <%= f.text_field :dob %>
  </div>
  <div class="field">
    <%= f.label :sex %>

    <%= f.select :sex, options_for_select([:Male, :Female]) %>
  </div>
  <div class="field">
  
    
    <%=f.label :user_type_id %>
    <%=f.collection_select :user_type_id, UserType.all, :id, :name %>

    
  </div>
  <div class="field">
    <%= f.label :occupation %>
    <%= f.text_field :occupation %>
  </div>
  <div class="field">
    <%= f.label :position %>
    <%= f.text_field :position %>
  </div>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :role %>
    <%= f.select :role, options_for_select([:default, :other]) %>
  </div>
  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
  <div class="action">
    <%= f.submit %>
    <% end %>
  </div>
</div>

<div id="user-form-right">
<div class="profile-div user-side">ADD NETWORK</div>

<div class="profile-div user-side">ADD GROUP</div>
</div>
