<section>
  <div class="profile-header">
    <h1>MY PROFILE PAGE:</h1>
    <br>
    <h1><%= @user.first.upcase %></h1>
    <h1><%= @user.last.upcase %></h1>
  </div>
  <div class="profile-image"><%= image_tag @user.image.detail.url, width: 300 %></div>
  <div class="profile-summary">
    <table>
        <tr>
          <td>Sex:</td>
          <td><%= @user.sex %></td>
        </tr>
        <tr>
          <td>DOB:</td>
          <td><%= @user.dob %></td>
        </tr>
        <tr>
          <td>Occupation:</td>
          <td><%= @user.occupation %></td>
        </tr>
        <tr>
          <td>Position:</td>
          <td><%= @user.position %></td>
        </tr>
        </tr>
          <td>Role</td>
          <td><%= @user.role %></td>
        <tr>
        <tr>
          <td>Phone number:</td>
          <td><%= @user.phone %></td>
        </tr>
      </table>
  </div>
</section>
<section class="profile-container">
  <div class="profile-div">MY NETWORKS:</div>
  <div class="add-more">ADD NETWORK</div>
  <div class="accordian">
    <%  @wifis.each do |wifi| %>
    <h4>wifi.name</h4>
      <table>
        <tr>
          <td>Password:</td>
          <td>password</td>
        </tr>
        <tr>
          <td>Free or Paid:</td>
          <td>Free</td>
        </tr>
        <tr>
          <td>Private or public Network</td>
          <td>Public</td>
        </tr>
        <tr>
          <td>Business name:</td>
          <td>British Library</td>
        </tr>
        </tr>
          <td></td>
          <td>phone result</td>
        <tr>
        <tr>
          <td></td>
          <td>Adress line 1 result</td>
        </tr>
        <tr>
          <td></td>
          <td>Addressline 2 result</td>
        </tr>
        <tr>
          <td></td>
          <td>city and postcode result</td>
        </tr>
        <tr>
          <td></td>
          <td>country result</td>
        </tr>
      </table>
    <% end %>
  </div>

</section>

<section class="profile-container">
  <div class="profile-div">MY GROUPS:</div>
  <div class="add-more">ADD GROUP</div>
  <div class="accordian">
    <h4><%# = @user.group_ids.name =%></h4>
      <table>
        <tr>
          <td>photo</td>
          <td>name</td>
        </tr>
      </table>
  </div>


</section>
