<div id="profile-page-wrapper">  
<section>
  <div class="user-group-header">
    <p>MY PROFILE PAGE:</p>
    </div>
    <br>
    
  


  <div class="profile-image"><%= image_tag @user.image.detail.url, width: 300 %></div>
  <div class="profile-summary">

    <table>
        <tr>
          <td>Name: </td>
           <td><%= @user.first %> <%= @user.last%></td> 
         </tr>
        <tr>
          <td>Sex:</td>
          <td><%= @user.sex %></td>
        </tr>
        <tr>
          <td>DOB:</td>
          <td><%= @user.dob %></td>
        </tr>
        <tr>
          <td>Occupation:</td>
          <td><%= @user.occupation %></td>
        </tr>
        <tr>
          <td>Position:</td>
          <td><%= @user.position %></td>
        </tr>
        </tr>
          <td>Role</td>
          <td><%= @user.role %></td>
        <tr>
        <tr>
          <td>Phone number:</td>
          <td><%= @user.phone %></td>
        </tr>
      </table>
  </div>
</section>
<section class="profile container">
<div>
  <%=link_to "Edit my profile", edit_user_path(current_user) %>
</div>
</section>
<section class="profile-container">
 <div class="semi-container-left">
    <div class="profile-div">MY FAVOURITE NETWORKS:</div>
    <div id="accordion-wifi">
      <%  @wifis.each do |wifi| %>
        <h3><%= wifi.name %></h3>
        <div>
          <table>
            <tr>
              <td>Password:</td>
              <td><%= wifi.password %></td>
            </tr>
            <tr>
              <td>Free or Paid:</td>
              <td><%= wifi.free_or_paid %></td>
            </tr>
            <tr>
              <td>Private or public Network</td>
              <td><%= wifi.share_scope %></td>
            </tr>
            <tr>
              <td>Business name:</td>
              <td><%= wifi.business_name %></td>
            </tr>
            <tr>
              <td>Business phone number:</td>
              <td><%= wifi.phone %></td>
            </tr>    
            <tr>
              <td>Address</td>
              <td><%= wifi.address_line_1 %></td>
            </tr> 
            <tr>
              <td></td>
              <td><%= wifi.address_line_2 %></td>
            </tr> 
            <tr>
              <td></td>
              <td><%= wifi.city %></td>
            </tr>
            <tr>
              <td></td>
              <td><%= wifi.country %></td>
            </tr>
              <tr>
              <td>Powerpoints</td>
              <td><%= wifi.powerpoint %></td>
            </tr>
              <tr>
              <td>Number of seats</td>
              <td><%= wifi.number_of_seats %></td>
            </tr>
             <tr>
              <td>Reservation possible ?</td>
              <td><%= wifi.reservation_possible %></td>
            </tr>

          </table>
        </div>
      <% end %>
    </div>
  </div>
  <div class="semi-container-right">
    <div class="add-more">
      <%= link_to "ADD A NEW NETWORK", new_wifi_path %>
    </div>
    <!-- Andy content here -->
  </div>
  <div class="clear"></div>
</section>

<section class="profile-container">
  <div class="semi-container-left">
    <div class="profile-div">MY GROUPS:</div>
   <!--  <div id="accordion-group"> -->
      <% @groups.each do |group| %>
        <%= link_to(group.name, group)%>
        <%=group.group_type%>
        <br>
        <div>
          <table>
            <tr>
              <td>photo</td>
              <td>name</td>
            </tr>
          </table>
        </div>
     <%end%>
        <%= paginate @groups %>
   <!--  </div> -->
  </div>
  <div class="semi-container-right">
    <div class="add-more">ADD GROUP</div>
    <%= form_for Group.new do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :group_type %>
      <%= f.select :group_type, options_for_select([:private, :public]) %><br>
      <%= f.submit "create" %>
    <% end %>
    <!-- Andy content here -->
  </div>
<div class="clear"></div>
  </section>
<div class="clear"></div>
</div>


