<div id="profile-page-wrapper">  


  <div class="profile-header">
    <p>MY PROFILE PAGE</p>
    <p><%= @user.first %> <%= @user.last%></p>
    
   <section>
      <ul>
        <li><em>Sex: </em><%= @user.sex %></li>
        <li><em>DOB: </em><%= @user.dob %></li>
        <li><em>Occupation: </em><%= @user.occupation %></li>
        <li><em>Position: </em><%= @user.position %></li>
        <li><em>Role: </em><%= @user.role %></li>
        <li><em>Phone number: </em><%= @user.phone %></li>
      </ul>
    </section>
  </div>

  <div class="profile-image"><%= image_tag @user.image.detail.url, width: 385 %></div>

  <div id="edit-profile-div">
    <%=link_to "EDIT MY PROFILE", edit_user_path(current_user), {:style=>'color:#FFFFFF;'} %>
  </div>

  <div class="profile-summary clearfix"></div>

<section class="profile-container">
 <div class="semi-container-left">
    <div class="profile-div">MY FAVOURITE NETWORKS:</div>
    <div id="accordion-wifi" class="accordion-wifi">
      <%  @wifis.each do |wifi| %>
        <h3 class="accordion-wifi"><%= wifi.name %></h3>
        <div>
          <ul> 
            <li><em>Name: </em><%= link_to wifi.name, edit_wifi_path(wifi.id) %></li>
            <li><em>Password: </em><%= wifi.password %></li>
            <li><em>Free or Paid: </em><%= wifi.free_or_paid %></li>
            <li><em>Private or public Network: </em><%= wifi.share_scope %></li>
            <li><em>Business name: </em><%= wifi.business_name %></li>
            <li><em>Tel: </em><%= wifi.phone %></li>
            <li><em>Address Line 1: </em><%= wifi.address_line_1 %></li>
            <li><em>Address Line 2: </em><%= wifi.address_line_2 %></li>
            <li><em>City: </em><%= wifi.city %></li>
            <li><em>Country: </em><%= wifi.country %></li>
            <li><em>Powerpoints: </em><%= wifi.powerpoint %></li>
            <li><em>Number of seats: </em><%= wifi.number_of_seats %></li>
            <li><em>Reservation possible ?: </em><%= wifi.reservation_possible %></li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
  <div class="semi-container-right">
    <div class="add-more">
      <%= link_to "ADD A NEW NETWORK", new_wifi_path, {:style=>'color:#FFFFFF;'} %>
    </div>
    <!-- Andy content here -->
  </div>
  <div class="clear"></div>
</section>

<section class="profile-container">
  <div class="semi-container-left">
    <div class="profile-div">MY GROUPS:</div>
      <% @groups.each do |group| %>
        <%= link_to(group.name, group)%>: <%= group.group_type%>
        <br>
        <%end%>
        <%= paginate @groups %>
        <br>
  </div>
  <div class="semi-container-right">
    <div class="add-more">ADD GROUP</div>
      <%= form_for Group.new do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.label :group_type %>
        <%= f.select :group_type, options_for_select([:private, :public]) %><br>
        <%= f.submit "Create" %>
      <% end %>
  </div>
<div class="clear"></div>
  </section>
<div class="clear"></div>
</div>


