<!DOCTYPE html>
<html>
<head>
  <title>WIFIND_APP</title>
  <!-- <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css"> -->
  <%= stylesheet_link_tag  "application", :media => "all" %>
  
  <%= csrf_meta_tags %>
  
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA97XCC6q8UQo0TT8uqYo1CCoS1-KXFRms&sensor=false&libraries=places"></script>
  
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= javascript_include_tag "application" %>
</head>
<body>
  <div id="wrapper">
    <div class="header-divs" id="header-div1">WIFI NEAR ME</div>
    <div class="header-divs" id="header-div2">W<i class="flaticon-wifi42"></i>FIND</div>

    <div class="header-divs" id="header-div3">SIGN IN/OUT
      <div id="dropdowndiv">
        <% if user_signed_in? %>
          <%= current_user.email %><br>
         
          <%= link_to "EDIT PROFILE", edit_user_registration_path %><br>
         
          <%= link_to "LOGOUT", destroy_user_session_path, method: :delete %>

        <% else %>

          <%= link_to "SIGN IN", login_path %><br>
          <%=link_to "SIGN UP", new_user_registration_path %><br>
          <%= link_to "SIGN IN WITH GOOGLE", user_omniauth_authorize_path(:google_oauth2)%>

         <% end %>
       </div>

    </div>

    <main>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

    
      <%= yield %>

    </main>
    <div class="FOOTER-DIV">
      <%= link_to "HOME", root_path%>
    </div>
    <div class="FOOTER-DIV">
    "MY PROFILE"
    </div>
    <div class="FOOTER-DIV">
      <%= link_to "ADD A WIFI", new_wifi_path%></div>
  </div>

  <script>
    
  </script>
</body>
</html>
